<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NEW USER ADDED</title>
    <style>
        body {
            background-image: url("img.jpeg");
            background-repeat: no-repeat;
            background-size: cover;
        }
        h3 {
            text-align: center;
            margin-top: 200px;
        }
        button {
            display: block;
            margin: 0 auto;
            margin-top: 20px;
        }
    </style>
</head>
<body>
<h3>ALL WENT SUCCESSFULLY</h3>

<button onclick="logout()">Logout</button>
<button onclick="main()">Main page</button>

<script>
    function logout() {
        window.location.href = "/auth/login";
    }

    function main() {
        window.location.href = "/main";
    }
</script>
</body>
</html>
